/cache/
/crash-reports/
/logs/
/plugins/bStats/
/plugins/Essentials/userdata/
/plugins/WorldEdit/sessions/
/world/
/world_nether/
/world_the_end/

/plugins/Essentials/usermap.csv
/banned-ips.json
/banned-players.json
/bukkit.yml
/commands.yml
/eula.txt
/help.yml
/ops.json
/paper.yml
/permissions.yml
/spigot.yml
/usercache.json
/version_history.json
/wepif.yml
/whitelist.json

/*.jar
# macOS file system dust
*.DS_*

plugins/Multiverse-Core/worlds.yml
